<nav class="navbar navbar-inverse navbar-static-top ">
<div class="container-fluid">
<div class="navbar-header">
  <ul class="nav navbar-nav">
    <li class="<% if(act ==='home'){ %><%= 'active' %><% } %>">
      <a href="/">Porfolio</a></li>
      <% if(act ==='home'){ %>
      <li class="active dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filter<span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li onclick="filterHome(-1,<%= data.length+1 %>)"><a href="#">All</a></li>
           <% if(data){for(i = 0 ; i < data.length; i++){ %>
           <li onclick="filterHome(<%= i+1 %>,<%= data.length+1 %>)"><a href="#"><%= data[i].title %></a></li>
           <% }} %>
         </ul>
       </li>
       <% } %>
    <li class="<% if(act ==='blog'){ %><%= 'active' %><% } %>">
      <a href="/blog">Blog</a></li>
      <% if(act ==='blog' || act === 'newpost'){ %>
        <li class="<% if(act ==='newpost'){ %><%= 'active' %><% } %>">
          <a href="/newpost">New Post</a></li>
        <% } %>
  </ul>
</div>
</div>
</nav>
