<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.title %></title>
  <script src="jquery.min.js"></script>
  <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
  <link rel="stylesheet" href="../resources/app.css">
  <script src="../app.js"></script>
</head>
<body>
  <%- include('partials/navBar') %>
  <div class="col-md-8">
    <div class="jumbotron" style="padding:1% 10% 1% 10%">
      <center><h2><%= data.title %></h2></center>
      <% include partials/processPHTML.ejs %>
      <%- proccesPHTML(data.body) %>
    </div>
  </div>



  <div class="col-md-4">
    <div class="comments">
      <label for="">Comment Section</label>
      <form >
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter name">
        </div>
        <div class="form-group">
          <label for="comment">Comment</label>
          <textarea class="form-control" id="comment" rows="3"></textarea>
        </div>
        <button type="button" class="btn btn-primary" onclick="submitComment(<%= data.id %>)">Submit</button>
        <button type="button" class="btn btn-secondary" onclick="refreshB(<%= data.id %>)">Refresh</button>
      </form>
      <div id="comments" class="commentBox">
        <% for(i = 0; i < comment.length; i++){ %>
          <div class="jumbotron singleComment">
            <h2><%= comment[i].name %></h2>
            <p><%= comment[i].comment %></p>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </body>
  <script src="../app.js"></script>
  </html>
